@model EFinzynierka.Models.MonthlyModel
@{
    Layout = "_Layout";
}
<style>
    textarea {
        resize: none;
        width: 20px;
        height: 35px;
        margin: 1px;
    }

    .table-dark {
        text-align: center;
    }
</style>

<form asp-controller="Monthly" asp-action="" asp-route-id="" method="get" class="align-content-center">


    Wybierz miesiac <select name="month" class="form-select">

        @{
            for (int i = 1; i < 13; i++)
            {
                <option value="@i">
                    @System.Globalization.DateTimeFormatInfo.InvariantInfo.MonthNames[i]
                </option>
            }
        }
        }
    </select>

    <p><input type="submit" value="Submit" /> </p>

</form>
@ViewData["model"]

<form>
<table class="table-dark">
    <thead>
        <tr>
            <th scope="col">Pracownik</th>
            @for (int i = 1; i < Model.DayInMonth; i++)
            {
                <th scope="col">@i</th>
            }

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Pawel Bagrowski </th>
            @for (int i = 1; i < Model.DayInMonth; i++)
            {
                <th scope="row">
                        <textarea asp-route-id="@Model.IdMonthly" asp-for="@Model.HoursScheduled" resize=none> @Model.HoursScheduled</textarea>
                </th>
            }


        </tr>

    </tbody>

</table>
<input type="submit" value="submit" asp-route-id="@Model.IdMonthly" asp-data-bag=" asp-action="HourSaving" class="accordion-button"></form>
