@model EFinzynierka.Models.EmployeeModel

@{
    ViewData["Title"] = "DisplaySchedule";
}

wyswietl cos
@Model.Name
@Model.Surname
@Model.Contract



<table class="table">
    <thead>
        <tr>
            @{
                for (int i = 1; i < 30; i++)
                {
                    <th>
                        <a>@i</a>
                    </th>
                }
            }
         
            
        </tr>

        <tr>
            @{
                for (int i = 1; i < 30; i++)
                {
                             <th>
                               <a>@i</a>
                             </th>
                }
            }
        </tr>
    </thead>

</table>