@model IEnumerable<EmployeeModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Akcje</th>
            <th>Pracownik</th>
            <th>Najbliższe zmiany</th>
            <th>Dodaj zmiany</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć użytkownika?');">Usuń</a>
                </td>
                <td>@employee.Name @employee.Surname</td>
                <td>
                    <table class="table table-striped">
                        @foreach (var shift in employee.Shifts)
                        {
                            <tr>
                                <td class="table-left-align"> @shift.StartTime.ToString("dd/MM")</td>
                                <td class="table-left-align"> @shift.StartTime.ToString("HH:mm")</td>
                                <td>-</td>

                                <td class="table-left-align">@shift.EndTime.ToString("HH:mm")</td>
                                <td>
                                    <a asp-action="EditShift" asp-route-shiftId="@shift.Id" class="btn btn-primary">Edytuj zmiane</a>
                                    <a asp-action="DeleteShift" asp-route-shiftId="@shift.Id" class="btn btn-danger">Usuń zmiane</a>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                <td>
                    <a asp-action="AddShift" asp-route-employeeId="@employee.Id" class="btn btn-success">Dodaj zmiane</a>
                </td>

            </tr>
        }
    </tbody>
</table>
